<mat-card class="login-form">
  <div class="form-container">
    <spline-viewer
      url="https://prod.spline.design/749gR8kuaFEv08f2/scene.splinecode"
    >
    </spline-viewer>
    <p class="form-subtitle">Login to your account</p>

    <form (ngSubmit)="onLogin()" class="form-body">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          [(ngModel)]="email"
          name="email"
          type="email"
          required
        />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [(ngModel)]="password"
          name="password"
          type="password"
          required
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="submit-btn"
        type="submit"
      >
        Login
      </button>

      <p *ngIf="message" style="color: green">{{ message }}</p>
      <p *ngIf="error" style="color: red">{{ error }}</p>
    </form>

    <div class="divider">
      <span>OR</span>
    </div>

    <div class="sso-buttons">
      <button mat-button class="google-btn">
        <mat-icon>google</mat-icon> Sign up with Google
      </button>

      <button mat-button class="facebook-btn">
        <mat-icon>facebook</mat-icon> Sign up with Facebook
      </button>
    </div>

    <p class="footer-text">
      Don't have an account? <a routerLink="/sign-up">Sign Up</a>
    </p>
  </div>
</mat-card>
